*{
    font-family: 'Open Sans', sans-serif;
}

.pro-pic{
    width: 500px;
    padding-top: 30px;
}
.header-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(241, 211, 200);
  

}
.s-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn{
    padding: 10px 30px;
    border-radius: 6px;
    background-color: #E55473;
    color: white;
    border: none;
}
.title{
    font-size: 60px;
    font-style: normal;
    font-weight: 600;

}
main{ max-width: 1920px;
    background-color: rgb(226, 216, 202);
    margin: auto;
}
.featured{
    text-align: center;
    align-items: center;
    padding: 10px;
}
.f-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 100px;
}
.featured-img{
    width: 12px;
    display: flex;

}
.card{
    width: 200px ;
    height: 300px;
   
}
.f-img{
    width: 100%;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.support{
    width: 100px ;
    height: 80px;
    justify-content:sp;
    gap: 30px;
   
    
}
.s-img{
    width: 50%;
}
.supports{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 200px;
}
.offer{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    
}
.offer-txt{
    text-align: center;  

   
}
.o-img{
    width: 300px;
}
.offer-img{
    justify-content: flex-start;
}
.primary{
    color:#E55473;

}
    
.insta{
    text-align: center;
   
}