*{
    font-family: 'Open Sans', sans-serif;
}

.pro-pic{
    width: 475px;
    padding-top: 30px;
}
.header-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(241, 211, 200);
  

}
.s-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn{
    padding: 10px 30px;
    border-radius: 6px;
    background-color: #E55473;
    color: white;
    border: none;
}
.title{
    font-size: 60px;
    font-style: normal;
    font-weight: 600;

}
main{ max-width: 1920px;
   
    margin: auto;
}

.featured{
    text-align: center;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
    /* background-color: rgb(226, 216, 202); */
}
.f-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 100px;
}
.featured-img{
    width: 12px;
    display: flex;

}
.card{
    width: 250px ;
    height: 400px;
    background-color: rgb(226, 216, 202);
    padding: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
   
}
.f-img{
    width: 100%;
    height: 100%;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    
    padding-bottom: 50px;
    padding-top: 50px;
}





.support{
    width: 400px ;
    height: 80px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s-img{
    width: 20%;
    
    
}
.supports{
    display: flex;
    justify-content: center;
    
    padding: 60px;
    margin-top: 50px;
    margin-left: 13%;
    margin-right: 13%;
    background-color: rgb(226, 216, 202);
}
.offer{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(249, 241, 248);
    margin-top: 50px;
    
    
}
.offer-txt{
    text-align: center;  

   
}
.o-img{
    width: 300px;
}
.offer-img{
   
    justify-content: flex-start;
}
.primary{
    color:#E55473;

}
    
.insta{
    text-align: center;
}
 
.row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 40px 240px 120px;
    width: 80%;
}

.re-size{
    width: 220px;
    padding: 5px;
}
.subscribe{
    text-align: center;
    background-image: url("./Flower\ Asset/Rectangle 9.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 250px;
    margin: 80px;
    padding-top: 100px;
   
    border-radius:20px;
    background-blend-mode: overlay;

    
}
.inp{
    width: 40%;
    height: 45px;
    border-radius: 10px;
    color:white;
    border: none;
}